@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Merienda&display=swap');


/*Form*/
#formulario{
    background-color: rgb(0, 0, 0);
    margin: 0 100px 0;
    text-align: start;
}
#form-titulo{
    font-size: 80px;
    font-family: 'Charmonman';
    margin-bottom: 30px;
}
.form-group input{

    display: block;
    box-sizing: border-box;
    width: 90%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin:0 5px 10px 5px ;
    font-size: 14px;
    
}
.form-group label{
    margin-left: 5px;
    color: white;
}

.btn{
    margin:10px 0 10px;
}
#datepicker{
    margin-left: 10px;
}
#muestra{
    border: black solid 1px;
    width: fit-content;
    text-align: start;
}
/*responsive form*/
@media (max-width:600px) {
    #formulario{
        margin:0
    }
    .form-group input{
        margin:0px 5px 10px 10px ;
    }
}
/*Nav*/
.dropdown-menu>li>a:hover{
    background-color:transparent;
}

#navgeneral{
    display:flex;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #2d3436;
    justify-content: center;
}
#navgeneral nav div{
    width: max-content;
    background-color: transparent;
 
}
#navbarNav{
    width: max-content;
    background-color: transparent;
}

.navbar-nav li{
    padding: 0 20px 0;
    
}

@media (max-width:600px) {
    #nav-container{
        width: 100vh;
    }
    .navbar{
        margin-left: 1px;
    }
    #navgeneral nav{
        display: flex;
        width: 100%;
     
    }
}
/*Home*/
#main{
    padding-bottom:50px;
}
#cuerpo{
    padding-top: 30px;
}
#titulo-main{
    font-family: 'Charmonman';
    font-size: 80px;
    font-weight: bold;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    
}
#cuerpo div h2{
    font-family: 'Charmonman';
}
#cuerpo p{
    padding-top: 20px;
    font-family: 'Merienda';
    font-size: 20px;
    width: fit-content;
}
#img-ubi{
    box-shadow: 5px 5px 5px gray ;
    width: 500px;
}
#texto1{
    margin: auto;
    width: 60%;
}
#img-wts{
    width: 30%;
}
#contacto{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    font-size: 45px;
    font-weight: bold;

}
/* Responsive Home*/
@media (max-width:600px) {
    #texto1{
        width: 100%;
    }
    #titulo-main{
        font-size: 40px;
        
    }
    #img-ubi{
        box-shadow: 5px 5px 5px gray;
        width: 300px
    }
    #contacto{
        display: flex;
        justify-content: flex-start;
        align-self: center;
        font-size: 15px;
        font-weight: bold;
    
    }
    #img-wts{
        width: 70%;
    }

}
/*Cita*/
#citaGen{
    padding-top: 50px;
}

/*Servicios*/

#servicios{
    text-align: center;
    height: 400px;
    align-items: center;
}
#servicios img{
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
}
#servicios-titulo{
    font-size: 80px;
    font-family: 'Charmonman';

}
