@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

#TrabGen{
  justify-content: center;

}
#TrabGen header{
  display: block;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  animation:rubberBand;
  animation-duration: 3s;
}
#row-card div{
  display: flex;
  padding-top: 15px;
  justify-content: center;

}
.card {
    flex-direction: row;
    margin-bottom: 50px;
    color: black;
    background: radial-gradient(circle, rgba(154,156,158,1) 32%, rgba(245,247,250,1) 100%);    
    width: 75%;
    box-shadow: 10px 5px 5px black;
    box-sizing: border-box;
  }
  .card-title {
    font-weight: bold;
  }
  .card img {
    width: 70%;
    object-fit: cover;
    margin-bottom: 15px;

  }

