@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

#TrabGen{
  justify-content: center;

}
#TrabGen header{
  display: block;
  text-align: center;
  font-size: 80px;
  animation-duration: 3s;
}
#row-card div{
  display: flex;
  padding-top: 15px;
  justify-content: center;

}
#card-trab {
    flex-direction: row;
    margin-bottom: 50px;
    color: black;
    background: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(10px);
    width: 80%;
    box-shadow: 10px 5px 5px rgba(71, 71, 71, 0.719);
  }
  @media (max-width:600px) {
    #TrabGen header{
      font-size: 50px;
      margin-top: 10px;
    }
    #card-trab{
      width: 100%;
    }
  }
  .card-title {
    font-weight: bold;
    font-size: 25px;
  }
 #img-trab {
    width: 70%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
